---
---
<!doctype html>
<html lang="en">
  <head>
      {% include title-styles.html %}
    <style>
    #exec-comm-img {
        max-width: 50%;
    }

    .media img {
        max-height: 96px;
    }
    .member-orgs ul {
        list-style-type: none;
        padding-left: 0;
    }

    @media (max-width: 767px) {
        #exec-comm-img {
            max-width: 90%;
        }
    }
    </style>
  </head>
  <body>
    {% include navbar.html %}

    <main role="main">
    
    <div class="container marketing">

       <h1 style="text-align:center; padding-top:5vh;">FACC Planning Committee</h1>

        <h2>Our Executive Committee</h2>
        <ul class="lead mx-auto">
            <li><b>President</b>: Jesse Estes</li>
            <li><b>Vice President</b>: Kyle Flynn</li>
            <li><b>Secretary</b>: Peter Helmetag</li>
            <li><b>Treasurer</b>: Alexander Fera</li>
        </ul>

        <div class="featurette member-orgs mx-auto">
            <h2>College Organizations Involved in Planning</h2>
            <div class="media">
                <img class="mr-3" src="{{ site.url }}/{{ site.baseurl }}/img/member-orgs/fsu.png" alt="Ferris State University FIRST Robotics RSO"/>
                <div class="media-body">
                    <h5 class="mt-0">Ferris State University FIRST Robotics RSO</h4>
                    <ul>
                        <li><a href="https://www.facebook.com/fsufirstrobotic/" target="_blank"><i class="fab fa-facebook-square"></i> @fsufirstrobotic</a></li>
                        <li><a href="https://twitter.com/fsufirstrobotic" target="_blank"><i class="fab fa-twitter-square"></i> @fsufirstrobotic</a></li>
                        <li><a href="https://instagram.com/fsufirstrobotic" target="_blank"><i class="fab fa-instagram"></i> @fsufirstrobotic</a></li>
                    </ul>
                </div>
            </div>
            <div class="media">
                <img class="mr-3" src="{{ site.url }}/{{ site.baseurl }}/img/member-orgs/famnm.png" alt="FAMNM"/>
                <div class="media-body">
                <h5 class="mt-0">FIRST Alumni and Mentors Network at Michigan (FAMNM)</h4>
                    <ul>
                        <li><a href="https://famnm.club" target="_blank"><i class="fas fa-link"></i> Website</a></li>
                        <li><a href="https://www.facebook.com/theFAMNM/" target="_blank"><i class="fab fa-facebook-square"></i> @theFAMNM</a></li>
                        <li><a href="https://twitter.com/thefamnm" target="_blank"><i class="fab fa-twitter-square"></i> @thefamnm</a></li>
                        <li><a href="https://www.instagram.com/thefamnm/" target="_blank"><i class="fab fa-instagram"></i> @the.famnm</a></li>
                    </ul>
                </div>
            </div>
            <div class="media">
                <img class="mr-3" src="{{ site.url }}/{{ site.baseurl }}/img/member-orgs/famnms.png" alt="FAMNMS"/>
                <div class="media-body">
                    <h5 class="mt-0">FIRST at Michigan State (FMS)</h4>
                    <ul>
                        <li><a href="https://firstatmsu.org/" target="_blank"><i class="fas fa-link"></i> Website</a></li>
                        <li><a href="https://twitter.com/FIRSTatMSU" target="_blank"><i class="fab fa-twitter-square"></i> @FIRSTatMSU</a></li>
                        <li><a href="https://www.instagram.com/firstatmsu/?hl=en" target="_blank"><i class="fab fa-instagram"></i> @firstatmsu</a></li>
                    </ul>
                </div>
            </div>
            <div class="media">
                <img class="mr-3" src="{{ site.url }}/{{ site.baseurl }}/img/member-orgs/faak.jpg" alt="FAAK"/>
                <div class="media-body">
                    <h5 class="mt-0">FIRST Alumni At Kettering (FAAK)</h4>
                    <ul>
                        <li><a href="http://kettering-ri3d.000webhostapp.com/" target="_blank"><i class="fas fa-link"></i> Website</a></li>
                        <li><a href="https://twitter.com/kettering_ri3d" target="_blank"><i class="fab fa-twitter-square"></i> @kettering_ri3d</a></li>
                        <li><a href="https://www.instagram.com/kettering.ri3d/" target="_blank"><i class="fab fa-instagram"></i> @kettering.ri3d</a></li>
                    </ul>
                </div>
            </div>
        </div>

      </div><!-- /.container -->
      {% include footer.html %}

    </main>

    {% include scripts.html %}
  </body>
</html>
