---
---
<!doctype html>
<html lang="en">
  <head>
      {% include title-styles.html %}
  </head>
  <body>
    {% include navbar.html %}

    <main role="main">
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

       <h1 style="text-align:center; padding-top:5vh;">About FACC</h1>
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="card-deck mx-auto">
            <div class="card border-0">
                <h2>Our Executive Committee</h2>
                <ul class="lead">
                    <li><b>President</b>: Austin Barkey</li>
                    <li><b>Vice President</b>: Tori Funke</li>
                    <li><b>Secretary</b>: Kathy Ciarelli</li>
                    <li><b>Treasurer</b>: Michael Mischley</li>
                </ul>
            </div>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="card-deck mx-auto">
              <div class="card border-0">
                  <h2>Participating College Organizations</h2>
                  <ul class="lead">
                      <li>FIRST Alumni And Mentor Network at Michigan (FAMNM)</li>
                        <ul>
                            <li><a href="https://famnm.club" target="_blank"><i class="fas fa-link"></i> Website</a></li>
                            <li><a href="https://www.facebook.com/theFAMNM/" target="_blank"><i class="fab fa-facebook-square"></i> @theFAMNM</a></li>
                            <li><a href="https://twitter.com/thefamnm" target="_blank"><i class="fab fa-twitter-square"></i> @thefamnm</a></li>
                        </ul>
                      <li>FIRST Alumni And Mentor Network at Michigan State (FAMNMS)</li>
                            <ul>
                                <li><a href="https://www.facebook.com/FAMNMS/" target="_blank"><i class="fab fa-facebook-square"></i> @FAMNMS</a></li>
                                <li><a href="https://twitter.com/famnms" target="_blank"><i class="fab fa-twitter-square"></i> @famnms</a></li>
                                <li><a href="https://instagram.com/famnms" target="_blank"><i class="fab fa-instagram"></i> @famnms</a></li>
                            </ul>
                      <li>Ferris State University FIRST Robotics RSO</li>
                            <ul>
                                <li><a href="https://www.facebook.com/fsufirstrobotic/" target="_blank"><i class="fab fa-facebook-square"></i> @fsufirstrobotic</a></li>
                                <li><a href="https://twitter.com/fsufirstrobotic" target="_blank"><i class="fab fa-twitter-square"></i> @fsufirstrobotic</a></li>
                                <li><a href="https://instagram.com/fsufirstrobotic" target="_blank"><i class="fab fa-instagram"></i> @fsufirstrobotic</a></li>
                            </ul>
                      <li>CMU</li>
                      <li>Kettering</li>
                  </ul>
              </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="card-deck mx-auto">
              <div class="card border-0">
                  <h2>Contact and Follow FACC!</h2>
                  <ul class="lead">
                    <li><a href="https://www.facebook.com/FIRSTAlumniCollegiateCompetition/" target="_blank"><i class="fab fa-facebook-square"></i> @FIRSTAlumniCollegiateCompetition</a></li>
                    <li><a href="mailto:firstcollegiatecomp@gmail.com" target="_blank"><i class="fas fa-envelope"></i> @thefamnm</a></li>
                  </ul>
              </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
      {% include footer.html %}

    </main>

    {% include scripts.html %}
  </body>
</html>
