---
---
<!doctype html>
<html lang="en">
  <head>
      {% include title-styles.html %}
  </head>
  <body>
    {% include navbar.html %}

    <main role="main">
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

       <h1 style="text-align:center; padding-top:5vh;">Competition Details</h1>
        <!-- START THE FEATURETTES -->

        <div class="row featurette">
            <div class="card-deck mx-auto">
                <div class="card border-0">
                    <ul class="lead">
                        <li>Build</li>
                            <ul>
                                <li>Each team will have 72 hours, starting from FRC Kickoff, to design and build a robot to compete in the current year’s competition</li>
                                <li>Teams must fund all materials and have their own build space</li>
                            </ul>
                        <li>Testing</li>
                                <ul>
                                    <li>The day of the competition, teams will have 1 hour to test and modify their robot on the playing field</li>
                                </ul>
                        <li>Competition Format</li>
                                <ul>
                                    <li>Teams will compete in a number of qualifying matches and a playoff bracket similar to FRC district events. The specific number of matches per team and playoff levels will be determined based on the number of participating teams</li>
                                </ul>
                        <li>Competition Details</li>
                            <ul>
                                <li>Location: Kettering University FIRST Community Center</li>
                                <li>Start time: 10 am</li>
                                <li>Teams will compete on a full practice field, not the standard FRC Andy Marc set up</li>
                            </ul>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
      {% include footer.html %}

    </main>

    {% include scripts.html %}
  </body>
</html>
