---
---
<!doctype html>
<html lang="en">
  <head>
      {% include title-styles.html %}
  </head>
  <body>
    {% include navbar.html %}

    <main role="main">
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

       <h2 style="text-align:center; padding-top:5vh;">
        2020 FIRST Alumni Collegiate Competition Rules
       </h2>
       
       <br>
        <!-- START THE FEATURETTES -->

        <div class="row featurette">
            <div class="card-deck mx-auto">
                <div class="card border-0">
                    <h3>Name, Mission, and Vision Statement</h3>
                    <p>
                        The name of this competition is the FIRST Alumni Collegiate 
                        Competition (hereby FACC). The mission of this competition 
                        is to provide a post-primary education level competition for 
                        FIRST Alumni, FIRST-focused collegiate organizations, and FIRST 
                        supporters to encourage continued FIRST involvement. We strive 
                        to increase the quality, availability, and usability of Ri3D 
                        documentation, encouraging competing teams to teach current FRC
                        participants through example. Our vision is a challenging yet 
                        entertaining competition, useful for early FRC team gameplay 
                        and strategy decisions, accompanied by quality design and build 
                        documentation for every competing robot. 
                    </p>
                    <br>
                    
                    <h3>Eligible Organizations</h3>
                    <p>
                        Any Ri3D organization is eligible to register for this competition.
                        If registration exceeds our capacity, preference will be given 
                        first to teams with well documented, published design processes 
                        intended for current FRC teams and second by registration date. 
                    </p>
                    <br>
                    
                    <h3>Build</h3>
                    <p>
                        To participate in FACC, teams must follow the general Ri3D rules,
                        building a robot to play the newly released FRC game in the three
                        days following the game’s reveal. To accomodate organizations also
                        hosting an FRC Kickoff event, your Ri3D build time must start within
                        two hours of the end of game reveal. You’ll share your start time as
                        part of the competition registration.
                    </p>
                    <p>
                        72 hours after your registered start time (72-74 hours after the reveal),
                        send a video that shows the state of your robot in detail to 
                        firstalumnicollegiatecomp@gmail.com. This video will ensure that no major 
                        modifications were made to the robot between stop build and the competition,
                        and should feature all major components of the robot. A few days after stop
                        build, the final videos will be shared with all registered teams. Any attending
                        team can bring up major robot modification concerns with the Head Referee on 
                        the day of the competition. 
                    </p>
                    <p>
                        After stop build, teams are allowed unlimited time with their robot for 
                        drive practice, filming, documentation, demonstrations, etc. Any components
                        broken during this time can be returned to their state as of stop build,
                        but cannot be improved. 
                    </p>
                    <br>
                    
                    <h3>Member Requirements</h3>
                    <p>
                        To encourage continued FIRST involvement outside of Ri3D, each individual 
                        contributor to the Ri3D team must have ten documented hours of involvement 
                        with FIRST between January 1st and December 31st of the prior year. 
                        ‘Involvement’ includes mentoring at any level, volunteering at formal and 
                        informal competitions, outreach and presentations to FIRST teams, event 
                        planning, etc. When registering your Ri3D team, please email us a spreadsheet 
                        detailing each contributor’s FIRST involvement efforts.
                    </p>
                    <p>
                        The ten hour requirement is waived for first time contributors to your Ri3D team.
                        Note these contributors on your spreadsheet, along with any FIRST involvement
                        they may have completed. As a special case deserving its own consideration, Ri3D
                        teams competing at FACC for the first time are considered to be entirely 
                        comprised of first time contributors, thus making the FIRST involvement 
                        requirement entirely optional. 
                    </p>
                    <p>
                        Additionally, for the 2020 competition, this documentation is optional since 
                        the rule wasn’t known a full year in advance. The FIRST involvement rule will 
                        go into effect for the 2021 competition.
                    </p>
                    <br>
                    
                    <h3>Registration</h3>
                    <p>
                        Registration for the 2020 competition is now <a href="https://forms.gle/DHAeT5jvnzZcvVak7">open</a>!
                        Check out the rest of the website for FAQs, competition updates, and more information.
                        The deadline for registration is the day before the 2020 FRC Kickoff, January 3rd, 2020.
                    </p>
                    <br>
                    
                    <h3>Competition</h3>
                    <p>
                        The 2020 FIRST Collegiate Competition will be held on February 2nd at Ferris 
                        State University. The field will be assembled February 1st, and teams can arrive
                        as early as noon. The field's perimeter will be standard, and any center-field
                        components will be wooden. Game pieces will be as close to standard as possible;
                        any deviations from FIRST’s specifications will be communicated to registered 
                        teams. FACC will attempt to wire the field and run matches on a substitute FMS,
                        but depending on the field’s complexity this might not be possible. Good luck 
                        teams, and we’ll see you at the competition!
                    </p>
                </div>
            </div>
        </div>
        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
      {% include footer.html %}

    </main>

    {% include scripts.html %}
  </body>
</html>
