---
title: FACC Videos
teams:
    - 0:
        name: "MRi3D"
        org: "FIRST Alumni and Mentors Network at Michigan (FAMNM)"
        youtube_link: ""
        local_file: "/img/bag-vids/famnm.mp4"
        image: "teams/mri3d.png"
        links:
            - 0: 
                link: "https://youtu.be/KuTZvi9fEfM"
                desc: What to Expect
            - 0: 
                link: "https://youtu.be/_RTVrUvHmI4"
                desc: 24 Hour Summary
            - 0:
                link: "https://youtu.be/1hxCZ0YvBPA"
                desc: 48 Hour Summary
            - 0:
                link: "https://youtu.be/9hXYahN1R-0"
                desc: 72 Hour Summary
            - 0:
                link: "https://youtu.be/Nis5KBcncSw"
                desc: How to Design & Plan a Build
            - 0:
                link: "https://youtu.be/8IeF6uFWQCc"
                desc: Technical Overview
    - 0:
        name: "FIRST Robotics OSU"
        org: "FIRST Alumni and Robotics at Ohio State"
        youtube_link: ""
        local_file: "/img/bag-vids/tOSU.mp4"
        image: "teams/frosu.png"
        links: 
            - 0:
                link: "https://youtu.be/Wc8v5x_wa2s"
                desc: Day 1 Recap
            - 0:
                link: "https://youtu.be/N1EZXuhGnsM"
                desc: Day 2 Recap
            - 0:
                link: "https://youtu.be/6Xr1b5qgerQ"
                desc: Intake Development
            - 0:
                link: "https://youtu.be/ByQq0Ek0SU4"
                desc: Control Panel Spinner Development
            - 0:
                link: "https://youtu.be/vEvmY0ReQyI"
                desc: Climber Development
    - 0:
        name: "FSU Dawgs"
        org: "FIRST Robotics RSO"
        youtube_link: ""
        local_file: "/img/bag-vids/fsu.mp4"
        image: "teams/fsu.png"
        links: 
            - 0: 
                link: "https://youtu.be/4cT54Nbvu_k"
                desc: Day 1 YouTube Stream
            - 0: 
                link: "https://youtu.be/E7CsL2ftd9o"
                desc: Day 2 YouTube Stream
            - 0: 
                link: "https://youtu.be/HK4_KqFmfcw"
                desc: Day 3 YouTube Stream
    - 0:
        name: "FIRST at Michigan State"
        org: "FIRST at Michigan State (FMS)"
        youtube_link: "https://www.youtube.com/embed/ENEm8x_ajG0"
        local_file: ""
        image: "teams/fms.png"
        links: ""
    - 0:
        name: "The Bulldogs"
        org: "FIRST Alumni At Kettering (FAAK)"
        youtube_link: "https://www.youtube.com/embed/VQg6U3HcGB8"
        local_file: ""
        image: "teams/faak.jpg"
        links: 
            - 0:
                link: "https://youtu.be/IJv66-fz65A"
                desc: Day 1 Recap
            - 0:
                link: "https://youtu.be/SksoFgJnijo"
                desc: Day 2 Recap
            - 0:
                link: "https://youtu.be/eGqcfRnZgW0"
                desc: Day 3 Recap
            - 0: 
                link: "https://youtu.be/klQ2Sffv15k"
                desc: In-Depth CAD
            - 0:
                link: "https://youtu.be/AwBn7rIPsao"
                desc: In-Depth Ball Hopper
            - 0:
                link: "https://youtu.be/ztshp5YKG4s"
                desc: In-Depth Climber
            - 0:
                link: "https://youtu.be/smecFZu9cCU"
                desc: In-Depth Shooter
            - 0:
                link: "https://youtu.be/6PyuinWAI3c"
                desc: In-Depth Intake
    - 0:
        name: "FANGV"
        org: "GVSU FIRST Alumni"
        youtube_link: ""
        local_file: "/img/bag-vids/fangv.mp4"
        image: "teams/fangv.png"
        links: ""
    - 0:
        name: "UIUC Ri3D"
        org: "Illini Robotics Alumni Association"
        youtube_link: "https://www.youtube.com/embed/l6PnlWQoWhE"
        local_file: ""
        image: "teams/none.png"
        links: 
            - 0: 
                link: "https://youtu.be/Ut_yS0F_9-8"
                desc: Day 1 Summary
            - 0: 
                link: "https://youtu.be/aJwFZdC49FM"
                desc: Day 2 Summary
            - 0: 
                link: "https://youtu.be/PrbMP8LLi-M"
                desc: Day 3 Summary
            - 0:
                link: "https://youtu.be/GmB_J4owoMQ"
                desc: Technical Review
    - 0:
        name: "Dayton Ri3D"
        org: "University of Dayton"
        youtube_link: "https://www.youtube.com/embed/qHI_AS_Q1No"
        local_file: ""
        image: "teams/dri3d.jpg"
        links: ""
---
<!doctype html>
<html lang="en">
  <head>
    {% include title-styles.html %}
  </head>
  <body>
    {% include navbar.html %}

    <main role="main">
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

       <h2 style="text-align:center; padding-top:5vh;">
        Competition Videos
       </h2>
       <p>
            The opinions expressed in these videos do not reflect the official 
            positions of the FIRST Alumni Collegiate Competition, but we will 
            continue to update all sections of this page as teams create content
       </p>
       
       <br>
        <!-- START THE FEATURETTES -->

        <div class="row featurette">
            <div class="card-deck mx-auto">
                <div class="card border-0">
                    <!--<h3>Teams Livestreams</h3>
                    <p>
                       M|Ri3D's <a href="https://www.twitch.tv/famnm">Livestream</a>
                       <br />
                       FIRST Robotics OSU's <a href="https://www.twitch.tv/firstroboticsosu">Livestream</a>
                       <br />
                       FSU Dawgs' <a href="https://youtu.be/4cT54Nbvu_k">Livestream</a>
                       <br />
                       FANGV's <a href="https://www.twitch.tv/gvsufirstalumni">Livestream</a>
                       <br />
                       The Bulldog's Frequent <a href="https://www.instagram.com/kettering.ri3d/">Instagram</a> Updates
                       <br />
                       FIRST at Michigan State's <a href="http://www.twitch.tv/firstatmsu">Livestream</a>
                    </p>-->
                    <h3>Competitor "Bag" Videos</h3>
                    <p>
                        These are the videos registered Ri3D teams submitted 72 hours after
                        they started their build. They are considered the final state of 
                        the robot after the three day build period, and feature all major 
                        components of the robot. Don't knock teams for video editing skill
                        here - these videos serve as proof that major modifications weren't
                        made outside of the three day build. 
                        <br />
                    </p>
                    
                    <div class="row">
                        {% for team in page.teams %}
                            {% if team[0].local_file != "" %}
                                <div class="col">
                                    <video width="420" height="320" controls>
                                        <source src={{ team[0].local_file }} type=video/mp4>
                                    </video>
                                    
                                    <h4> {{ team[0].name }} </h4>
                                </div>
                            {% endif %}
                            {% if team[0].youtube_link != "" %}
                                <div class="col">
                                    <iframe width="420" height="320" 
                                        src={{ team[0].youtube_link }} 
                                        frameborder="0" 
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                                        allowfullscreen>
                                    </iframe>
                                    
                                    <h4> {{ team[0].name }} </h4>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <h3>Competitor Build and Reveal Videos</h3>
                    <p>
                        Check out the video documentation some of our participants created! 
                        Remember - Ri3D robots are normally not the designs that win world
                        championships, but serve as great examples of rapid prototyping.
                        Watch out for game strategy observations, manufacturing tips, 
                        key robot design features, and data about how successful different 
                        designs proved.
                    </p>
                    <div class="row">
                        {% for team in page.teams %}
                            {% if team[0].links != "" %}
                                <div class="col">
                                    <h4> {{ team[0].name }} </h4>
                                    <ul>
                                    {% for link in team[0].links %}
                                    <li> 
                                        <a href={{ link[0].link }}>
                                            {{ link[0].desc }}
                                        </a>  
                                    </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <h3>Competition Videos</h3>
                    <p>
                        This is one place we'll post videos of the competion!
                    </p>
                    <br>
                </div>
            </div>
        </div>
        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
      {% include footer.html %}

    </main>

    {% include scripts.html %}
  </body>
</html>
