---
---
<!doctype html>
<html lang="en">
  <head>
      {% include title-styles.html %}
  </head>
  <body>
    {% include navbar.html %}

    <main role="main">
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

       <h2 style="text-align:center; padding-top:5vh;">
        Competition Videos
       </h2>
       <p>
        The videos linked below are examples from last season's competition.
        We'll be updated the build and reveal section as teams create this 
        content, and expect competitor bag videos to be up by January 10th.
       </p>
       
       <br>
        <!-- START THE FEATURETTES -->

        <div class="row featurette">
            <div class="card-deck mx-auto">
                <div class="card border-0">
                    <!--<h3>Teams Livestreams</h3>
                    <p>
                       M|Ri3D's <a href="https://www.twitch.tv/famnm">Livestream</a>
                       <br />
                       FIRST Robotics OSU's <a href="https://www.twitch.tv/firstroboticsosu">Livestream</a>
                       <br />
                       FSU Dawgs' <a href="https://youtu.be/4cT54Nbvu_k">Livestream</a>
                       <br />
                       FANGV's <a href="https://www.twitch.tv/gvsufirstalumni">Livestream</a>
                       <br />
                       The Bulldog's Frequent <a href="https://www.instagram.com/kettering.ri3d/">Instagram</a> Updates
                       <br />
                       FIRST at Michigan State's <a href="http://www.twitch.tv/firstatmsu">Livestream</a>
                    </p>-->
                    <h3>Competitor "Bag" Videos</h3>
                    <p>
                        These are the videos registered Ri3D teams submitted 72 hours after
                        they started their build. They are considered the final state of 
                        the robot after the three day build period, and feature all major 
                        components of the robot. Don't knock teams for video editing skill
                        here - these videos serve as proof that major modifications weren't
                        made outside of the three day build.
                    </p>
                    
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <video width="420" height="320" controls>
                                <source src="/img/bag-vids/famnm.mp4" type=video/mp4>
                            </video>
                            
                            <h4> FAMNM </h4>
                        </div>  
                        <div class="col-md-6 col-lg-4">
                            <iframe width="420" height="320"
                                src="https://www.youtube.com/watch?v=VQg6U3HcGB8">
                            </iframe>
                            
                            <h4> The Bulldogs </h4>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <video width="240" height="320" controls>
                                <source src="/img/bag-vids/fangv.mp4" type=video/mp4>
                            </video>
                            
                            <h4> FANGV </h4>
                        </div>  
                        <div class="col-md-6 col-lg-4">
                            <iframe width="420" height="320"
                                src="https://www.youtube.com/watch?v=ENEm8x_ajG0">
                            </iframe>
                            
                            <h4> FIRST at Michigan State </h4>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <video width="420" height="320" controls>
                                <source src="/img/bag-vids/fsu.mp4" type=video/mp4>
                            </video>
                            
                            <h4> FSU Dawgs </h4>
                        </div>  
                    
                    </div>
                    
                    <!--
                    <p> 2019 Example: 
                        <a href="https://famnm.club">FAMNM</a>'s M|Ri3D 
                        <a href="https://www.youtube.com/watch?v=zlNXkQe0BQU">reveal</a>
                        . Registered teams: if you're using this as an example, for the 2020
                        competition, note that this particular video doesn't need to be
                        reveal-quality, but does need to be submitted as close to 72 hours after
                        the game reveal as possible.
                    </p>
                    <br>
                    -->
                    <h3>Competitor Build and Reveal Videos</h3>
                    <p>
                        Check out the video documentation some of our participants created! 
                        Remember - Ri3D robots are normally not the designs that win world
                        championships, but serve as great examples of rapid prototyping.
                        Watch out for game strategy observations, manufacturing tips, 
                        key robot design features, and data about how successful different 
                        designs proved.
                    </p>
                    <!--
                    <p> 2019 Example: 
                        <a href="https://famnm.club">FAMNM</a>'s M|Ri3D 
                        <a href="https://www.youtube.com/watch?v=YZTIdKUNgck">Day 1 Build Summary</a>
                    </p>
                    <br>
                    -->
                    <p> 
                        M|Ri3D's video releases:
                        <ul>
                            <li> 
                                <a href="https://youtu.be/KuTZvi9fEfM">
                                    What to Expect
                                </a>  
                            </li>
                            <li> 
                                <a href="https://youtu.be/_RTVrUvHmI4">
                                    First 24 Hour Summary
                                </a> 
                            </li> 
                            <li> 
                                <a href="https://youtu.be/Nis5KBcncSw">
                                    How to Design & Plan a Build
                                </a> 
                            </li>
                        </ul>
                    </p>
                    <p>
                        The Bulldog's video releases:
                        <ul>
                            <li> 
                                <a href="https://youtu.be/IJv66-fz65A">
                                    Day 1 Recap
                                </a> 
                            </li> 
                            <li> 
                                <a href="https://youtu.be/klQ2Sffv15k">
                                    In-Depth CAD
                                </a> 
                            </li> 
                            <li> 
                                <a href="https://youtu.be/SksoFgJnijo">
                                    Day 2 Recap
                                </a> 
                            </li>
                        </ul>
                    </p>
                    <p>
                        FSU Dawgs:
                        <ul>
                            <li> 
                                <a href="https://youtu.be/4cT54Nbvu_k">
                                    Day 1 YouTube Stream
                                </a> 
                            </li> 
                            <li> 
                                <a href="https://youtu.be/E7CsL2ftd9o">
                                    Day 2 YouTube Stream
                                </a> 
                            </li> 
                            <li> 
                                <a href="https://youtu.be/HK4_KqFmfcw">
                                    Day 3 YouTube Stream
                                </a> 
                            </li>
                        </ul>
                    </p>
                    <h3>Competition Videos</h3>
                    <p>
                        This is one place we'll post videos of the competion!
                    </p>
                    <br>
                </div>
            </div>
        </div>
        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
      {% include footer.html %}

    </main>

    {% include scripts.html %}
  </body>
</html>
