---
---
<!doctype html>
<html lang="en">
  <head>
      {% include title-styles.html %}
  </head>
  <body>
    {% include navbar.html %}

    <main role="main">
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

       <h2 style="text-align:center; padding-top:5vh;">
        Competition Videos
       </h2>
       <p>
        Check back as we get closer to the competition for content
        in the sections below
       </p>
       
       <br>
        <!-- START THE FEATURETTES -->

        <div class="row featurette">
            <div class="card-deck mx-auto">
                <div class="card border-0">
                    <h3>Competitor "Bag" Videos</h3>
                    <br>
                    <h3>Competitor Build and Reveal Videos</h3>
                    <br>
                    <h3>Competition Videos</h3>
                    <br>
                </div>
            </div>
        </div>
        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
      {% include footer.html %}

    </main>

    {% include scripts.html %}
  </body>
</html>
