---
title: FACC Ri3D Teams
teams:
    - 0:
        name: "MRi3D"
        org: "FIRST Alumni and Mentors Network at Michigan (FAMNM)"
        facebook: "https://www.facebook.com/theFAMNM/"
        twitter: "https://twitter.com/thefamnm"
        instagram: "https://www.instagram.com/thefamnm/"
        website: "https://famnm.club/events/ri3d/index.html"
        youtube: "https://www.youtube.com/channel/UCX8tBxhLFfs_3mZNGgp2UuQ"
        twitch: "https://twitch.tv/famnm"
        image: "teams/mri3d.png"
    - 0:
        name: "FIRST Robotics OSU"
        org: "FIRST Alumni and Robotics at Ohio State"
        facebook: "https://www.facebook.com/firstroboticsosu/"
        twitter: "https://twitter.com/firstroboticosu"
        instagram: "https://www.instagram.com/firstroboticsosu/"
        website: "https://firstrobotics.osu.edu"
        youtube: "https://www.youtube.com/channel/UCRsCDiSIQzP49JnIHDwDO_A"
        twitch: "https://www.twitch.tv/firstroboticsosu"
        image: "teams/frosu.png"
    - 0:
        name: "FSU Dawgs"
        org: "FIRST Robotics RSO"
        facebook: "https://www.facebook.com/fsufirstrobotic/"
        twitter: "https://twitter.com/fsufirstrobotic"
        instagram: "https://instagram.com/fsufirstrobotic"
        website: ""
        youtube: ""
        twitch: ""
        image: "teams/fsu.png"
    - 0:
        name: "FIRST at Michigan State"
        org: "FIRST at Michigan State (FMS)"
        facebook: ""
        twitter: "https://twitter.com/FIRSTatMSU"
        instagram: "https://www.instagram.com/firstatmsu/?hl=en"
        website: "https://firstatmsu.org/"
        youtube: ""
        twitch: "http://www.twitch.tv/firstatmsu"
        image: "teams/fms.png"
    - 0:
        name: "The Bulldogs"
        org: "FIRST Alumni At Kettering (FAAK)"
        facebook: ""
        twitter: "https://twitter.com/kettering_ri3d"
        instagram: "https://www.instagram.com/kettering.ri3d/"
        website: "http://kettering-ri3d.000webhostapp.com"
        youtube: "https://www.youtube.com/channel/UCQ6GjN65GM_PlD7_7ogodfg"
        twitch: ""
        image: "teams/faak.jpg"
    - 0:
        name: "FANGV"
        org: "GVSU FIRST Alumni"
        facebook: ""
        twitter: "https://twitter.com/firstalumgv"
        instagram: "https://www.instagram.com/firstalumgv/"
        website: ""
        youtube: ""
        twitch: "https://www.twitch.tv/gvsufirstalumni/videos"
        image: "teams/fangv.png"
    - 0:
        name: "Illini Robotics Alumni Association"
        org: "Illini Robotics Alumni Association"
        facebook: ""
        twitter: ""
        instagram: ""
        website: ""
        youtube: ""
        twitch: ""
        image: "teams/none.png"
    - 0:
        name: "Robot in 3 Days at Dayton"
        org: "Univerisity of Dayton"
        facebook: ""
        twitter: ""
        instagram: ""
        website: ""
        youtube: ""
        twitch: ""
        image: "teams/none.png"
---
<!doctype html>
<html lang="en">
  <head>
      {% include title-styles.html %}
    <style>
    #exec-comm-img {
        max-width: 50%;
    }

    .media img {
        max-height: 96px;
    }
    .member-orgs ul {
        list-style-type: none;
        padding-left: 0;
    }

    @media (max-width: 767px) {
        #exec-comm-img {
            max-width: 90%;
        }
    }
    </style>
  </head>
  <body>
    {% include navbar.html %}

    <div class="container">
        <div class="content">
            <h1 class="text-center">Competing 2020 Ri3D Teams</h1>

			<div class="row">
			
			  {% for team in page.teams %}
			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <img alt="Card image cap" class="card-img-top img-fluid" src="{{ site.url }}/{{ site.baseurl }}/img/{{ team[0].image }}" />
			      <div class="card-block">
			        <h4 class="card-title">{{ team[0].name }}</h4>
			        <p class="card-text">
                        {{ team[0].org }}
                        
                        <ul>
                            {% if team[0].website != "" %}
                            <li>
                                <a href={{ team[0].website }} target="_blank">
                                    <i class="fas fa-link"></i> - Website
                                </a>
                            </li>
                            {% endif %}
                            {% if team[0].youtube != "" %}
                            <li>
                                <a href={{ team[0].youtube }} target="_blank">
                                    <i class="fab fa-youtube"></i> - YouTube
                                </a>
                            </li>
                            {% endif %}
                            {% if team[0].twitch != "" %}
                            <li>
                                <a href={{ team[0].twitch }} target="_blank">
                                    <i class="fab fa-twitch"></i> - Twitch
                                </a>
                            </li>
                            {% endif %}
                            {% if team[0].facebook != "" %}
                            <li>
                                <a href={{ team[0].facebook }} target="_blank">
                                    <i class="fab fa-facebook-square"></i> - Facebook
                                </a>
                            </li>
                            {% endif %}
                            {% if team[0].twitter != "" %}
                            <li>
                                <a href={{ team[0].twitter }} target="_blank">
                                    <i class="fab fa-twitter-square"></i> - Twitter
                                </a>
                            </li>
                            {% endif %}
                            {% if team[0].instagram != "" %}
                            <li>
                                <a href={{ team[0].instagram }} target="_blank">
                                    <i class="fab fa-instagram"></i> - Instagram
                                </a>
                            </li>
                            {% endif %}
						</ul>
		        	</p>
			      </div>
			    </div>
			  </div>
			  {% endfor %}
         	</div>
            
            <p>
                <br />
            </p>
            
            <h3 class="text-center">Looking for more?</h3>

            <p>
                <br />
                You can find some of the other Ri3D teams that won't be competing
                in the FIRST Alumni Collegiate Competition in
                <a href=https://www.chiefdelphi.com/t/ri3d-links-all-in-one-place/369240?u=famnm>
                    this Chief Delphi wiki.
                </a>
            </p>
            <br />
    </div><!-- /.container -->

    {% include footer.html %}
    {% include scripts.html %}
    <!-- Page styles -->
    <style>
		.notify-badge{
		    position: absolute;
		    right:-1.5vw;
		    top:-1.5vw;
		    background:#353942;
		    text-align: center;
		    border-radius: 30px 30px 30px 30px;
		    color:#e9cc06;
		    padding:0.375vw 0.75vw;
		    font-size:1.5vw;
        }
        
        @media (max-width: 800px) {
            .card-img-top {
                height: 100%;
            }
        }

        @media (min-width: 801px) {
            .card-img-top {
                height: 25vw;
            }
        }
		
		.card-img-top {
		    width: 100%;
		    object-fit: cover;
		}
		
		.card {
			margin-top:1.5vw
		}

		.card-block {
			padding: 1.5vw;
		}
        
    </style>
  </body>
</html>
