    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ site.url }}/{{ site.baseurl }}/">
            <img alt="FACC" src="{{ site.url }}/{{ site.baseurl }}/img/logo/png/facc-small-bg-dark.png">&nbsp;FACC
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ site.url }}/{{ site.baseurl }}/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.url }}/{{ site.baseurl }}/competition">Competition Rules</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2GXDAGSHJ8DCJ&source=url">Donate</a>
            </li>
          </ul>
          <ul class="navbar-nav mt-2 mt-md-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbar-register"role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Register</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-register">
                  <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSd2DH676rbGixw3V_O3_4A7ozY65PYRUcuDQj5EZZgEyy5IDw/viewform" onclick="openInModal(event, 'Volunteer Registration')" target="_blank">Volunteer</a>
                  <a class="dropdown-item" href="https://goo.gl/forms/q6icZOW561pix9y12" onclick="openInModal(event, 'Team Registration')" target="_blank">Team</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
