    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The FIRST Alumni Collegiate Competition (FACC) is a
        nonprofit dedicated to continued involvement in FIRST. FACC hosts an annual 
        Robot in Three Days (Ri3D) competition among student groups at Michigan universities
        to combine their FIRST experiences with what they have learned in industry and
        academia.
        Keywords: first frc ri3d">
    <meta name="author" content="">
    <link rel="icon" href="{{site.url}}/favicon.ico">

    <title>{{page.title}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{site.url}}/styles/main.css" rel="stylesheet">
